{% extends 'index.html' %}

{% block conteudo %}
<div class="container">
    <h2>Esqueci minha senha</h2>
    <form method="POST" action="{% url 'autenticacao:esqueci_senha' %}" id="redefSenha">
        {% csrf_token %}
        <div class="form-group">
            <label for="txtEmail">Por favor, insira seu e-mail. <br> Você receberá um link para redefinir sua senha.</label>
            <input type="email" class="form-control" id="txtEmail" name="txtEmail" required autocomplete="off">
        </div>
        <div id="divSpace" class="space"> </div>
        <button type="submit" class="btn btn-light">Enviar</button>
        <button class="btn btn-light" onclick="window.location.href='/'">Voltar</button>

    </form>
</div>

{% endblock %}
